/* style.css */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header {
  height: 5em;
  padding: 1em;
  font-size: 2em;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-position: center;
}

.header h1 {
    margin: 0px 0px 0px 0px;
  }